
.separator {
  margin: 20px auto;
  background-color: rgba(243, 129, 129, 1);
}

.title{
  font-size:30px;
}
.pre-title{
  font-size:24px;
}
.main-text{
  font-size:15px;
}
.container{
  padding:50px 0;
}
.comentary-icon{
  border-radius:50%;
  padding:10px;
}

