#subscription {
  padding-top: 100px;
  @import "styles_for_sections";

  .map {
    background: url("../img/subscription/pexels-photo-1121005.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    .map-marker {

    }
    .open-map {
      font-size: 30px;
      color: rgba(243, 129, 129, 1);
    }
    .map-separator {
      margin: 20px auto;
      background-color: rgba(243, 129, 129, 1);
      height: 5px;
      width: 100px;
    }
  }

  .blog-row{
    margin-top:30px;
  }
  .blog-img{
    margin-right:30px;
  }
  .blog-date{
    color:darkgrey;
  }
  .img-row{

  }
  .instagram-image-container{
    margin:30px 0;
  }

  .contact {
    background-color: whitesmoke;
    min-height: 500px;
    .number-follower {
      margin-right: 5px;
      font-size: 18px;
    }
    .subscription-separator {
      width: 100%;
      background-color: lightgrey;
      height: 3px;
      margin: 10px 0;
    }
    .fa {
      text-decoration: none;
      color:#95e1d3;
      margin:0 5px;
      font-size:20px;
    }
    .title{
      font-size:45px;
      color:lightgrey;
      margin:20px 0;
    }
    .description{
      font-size:14px;
      color:grey;
    }
    .followers{
      margin-top:50px;
    }
    .subscribe-inputs{
      margin-top:15px;
    }


    .follow-text {
      color: lightgrey;
    }
    .subscribe-inputs {
      display: flex;
      .subscribe-button {
        background-color: #95e1d3;
        color: white;
        border: none;
        height: 40px;
        width: 150px;
      }
      .mail-input {
        padding-left: 10px;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: lightgrey;
        opacity: 1; /* Firefox */
      }

    }

  }
  .end-page-separator{
    width: 100%;
    background-color: lightgrey;
    height: 3px;
    margin-top:50px;
  }
}